version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: erp-dotnet-api
    expose:
      - "8082"
    restart: always

  nginx:
    image: nginx:latest
    container_name: erp-nginx-proxy
    ports:
      - "8082:8082"
    volumes:
      - ./nginx/kmsjobphoto.conf:/etc/nginx/conf.d/kmsjobphoto.conf:ro
      - ./swagger-ui-5.30.2:/usr/share/nginx/pkwms/swagger-ui-5.30.2:ro
    depends_on:
      - app
    restart: always
